<!-- navbar -->
.navbar.navbar-inverse
    .navbar-inner
        button.btn.btn-navbar.visible-phone#menu-toggler(type="button")
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.brand(href="#")
            img(src="/vendor/img/logo.png")
        ul.nav.pull-right
            li.settings.hidden-phone
                a(href="#" role="button")
                    i.icon-share-alt
