<!-- sidebar -->
#sidebar-nav
    #dashboard-menu
        li.active
            .pointer
                .arrow
                .arrow_border
            a.dropdown-toggle(href="#")
                i.icon-group
                span Charts
                i.icon-chevron-down
            ul.submenu
                li: a(href="user-list.html") User list
                li: a(href="user-list.html") User list
                li: a(href="user-list.html") User list
        li
            a.dropdown-toggle(href="#")
                i.icon-group
                span Charts
                i.icon-chevron-down
            ul.submenu
                li: a(href="user-list.html") User list
                li: a(href="user-list.html") User list
                li: a(href="user-list.html") User list
        li
            a.dropdown-toggle(href="#")
                i.icon-group
                span Charts
                i.icon-chevron-down
            ul.submenu
                li: a(href="user-list.html") User list
                li: a(href="user-list.html") User list
                li: a(href="user-list.html") User list
