extends ../admin/layout

block css

block content
    if(user)
        div.row
            .col-sm-6.col-sm-offset-2
                .panel.panel-default.text-center
                    .panel-heading
                        h3.panel-title #{user.name},欢迎
                    .panel-body
                        a.btn.btn-danger.btn-lg(id="signOut_ls_999") 登出
    else
        div.row
            div.col-sm-6.col-sm-offset-2
                .panel.panel-default.text-center
                    .panel-heading
                        h3.panel-title 请登录
                    .panel-body
                        .form-horizontal
                            div.form-group
                                label.contorl-label.col-sm-4(for="signInPassword") 登录名：
                                .col-sm-8
                                    input.form-control(id="signInName" type="text")
                            div.form-group
                                label.contorl-label.col-sm-4(for="signInPassword") 密码：
                                .col-sm-8
                                    input.form-control(id="signInPassword" type="password")
                            div.form-group.text-center
                                a.btn.btn-success(id="submit") 提交

block js
    script(src="/admin/js/admin.js")
