extends ../admin/layout

block css

block content
    .row
        form.form-horizontal(method="POST" action="/admin/messagequery/1" target="_blank")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchName") 用户：
                div.col-sm-4
                    input.form-control(id="searchName" name="search[name]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchContent") 内容：
                div.col-sm-4
                    input.form-control(id="searchContent" name="search[content]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label 审核情况：
                div.col-sm-4
                    label.radio-inline(for="searchOn")
                        input(id="searchOn" name="search[check]" type="radio" value="true")
                        | 通过
                    label.radio-inline(for="searchOff")
                        input(id="searchOff" name="search[check]" type="radio" value="false")
                        | 未审核
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label 发言时间（开始）：
                div.col-sm-4
                    input.form-control(name="search[timeStart]" type="date")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label 发言时间（结束）：
                div.col-sm-4
                    input.form-control(name="search[timeEnd]" type="date")
            div.form-group
                div.col-sm-offset-5.col-sm-2
                    button.btn.btn-primary(type="submit") 查询

block js
