extends ../admin/layout

block css
    link(rel="stylesheet",href="/css/admin/search.css")

block content
    .row
        form.form-horizontal(method="POST" action="/admin/userquery/1" target="_blank")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchName") 用户名：
                div.col-sm-4
                    input.form-control(id="searchName" name="search[name]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchNickName") 昵称：
                div.col-sm-4
                    input.form-control(id="searchNickName" name="search[nickName]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchPhone") 手机：
                div.col-sm-4
                    input.form-control(id="searchPhone" name="search[phone]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchEmail") 邮箱：
                div.col-sm-4
                    input.form-control(id="searchEmail" name="search[email]" type="text")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label 性别：
                div.col-sm-4
                    label.radio-inline(for="searchSexMale")
                        input(id="searchSexMale" name="search[sex]" type="radio" value="male")
                        | 男
                    label.radio-inline(for="searchSexFemale")
                        input(id="searchSexFemale" name="search[sex]" type="radio" value="female")
                        | 女
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label 状态：
                div.col-sm-4
                    label.radio-inline(for="searchOn")
                        input(id="searchOn" name="search[online]" type="radio" value="true")
                        | 在线
                    label.radio-inline(for="searchOff")
                        input(id="searchOff" name="search[online]" type="radio" value="false")
                        | 离线
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchLevel") 等级：
                div.col-sm-4
                    input.form-control(id="searchLevel" name="search[level]" type="number")
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="searchBelong") 所属直播室：
                div.col-sm-4
                    mixin option(value,title)
                        option(value=value)=title
                    select.form-control(id="searchBelong" name="search[room]")
                        each val in rooms
                            +option(val._id,val.title)
            div.form-group
                div.col-sm-offset-5.col-sm-2
                    button.btn.btn-primary(type="submit") 查询

block js
    script(src="/socket.io/socket.io.js")
