extends ../admin/layout

block css

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 名称
                    th 连接地址
                    th 点击次数
                    th 查看
                    th 修改
            tbody
                if ways&&ways.length>0
                    each item in ways
                        tr(class="item-id-"+item._id)
                            td #{item.name}
                            td #{url+item._id}
                            td #{item.clickCount}
                            td: a(target="_blank", href= "/admin/leavemes/"+item._id+"/1") 查看
                            td: a(target="_blank", href= "/admin/way/wayupdate/"+item._id) 修改
    .row
        div
            ul#page.pagination
                - var n=1
                while n <= pageNum
                    li: a(href="/admin/way/waylist/"+n)=n++


block js
    script(src="/socket.io/socket.io.js")
    script(src="/admin/js/userList.js")
