doctype
html.login-bg
    head
        include ../include/meta
        title #{title}
        include ../include/bootstrap
        include ../include/globalStyle

        <!-- libraries -->
        link(href="/vendor/css/lib/font-awesome.css",rel="stylesheet")
        <!-- this page specific styles -->
        link(href="/vendor/css/compiled/form-showcase.css",rel="stylesheet",media="screen")
        <!-- open sans font -->
        link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800",rel="stylesheet",media="screen")


    body
        include ../include/navbar
        include ../include/sidebar
        .content
            .container-fluid
                .users-list#pad-wrapper
                    .row-fluid.header
                        h3 #{title}
                    .row-fluid
                        .span4
                        .span4
                            form(method="POST" action="/admin/way/new")
                                div.field-box
                                    label(for="wayName") 渠道名称：
                                    input.span12(id="wayName" name="way[name]" type="text" required="required")
                                div.field-box
                                    label(for="wayAutoReplay") 自动回复：
                                    input.span12(id="wayAutoReplay" name="way[autoReplay]" type="text" required="required")
                                div.field-box
                                    div.text-center
                                        input.pull-left.btn-flat.success(id="submit" type="submit" value="提交")
                                        input.pull-right.btn-flat.gray(id="reset" type="reset" value="重置")


    script(src="http://code.jquery.com/jquery-latest.js")
    script(src="/vendor/js/bootstrap.min.js")
    script(src="/vendor/js/theme.js")
